# ^ Dependencies
node_modules
.venv
old_src
__pycache__
# ^ Build files
.next

# ^ Logs and databases
*.db
*.log
Prompts

# ^ Environment
env
.env
keys

Test

# ^ IDE
.vscode
.vercel
.cursorignore

# ^ typescript
*.tsbuildinfo