# ^ Dependencies
node_modules
.venv
old_src

# ^ Build files
.next

# ^ Logs and databases
*.db
*.log
Prompts

# ^ Environment
.env
.env.*
keys

Test

# ^ IDE
.vscode
.vercel
.cursorignore

# ^ Package managers Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lock*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ^ typescript
*.tsbuildinfo
next-env.d.ts