@use "tailwindcss"
@config "../../tailwind.config.ts"

// @Theme&Variables
:root
    // ? Theme Variables
    --background-dark: linear-gradient(117deg, #1B242D 41.82%, #361B2B 60.59%), radial-gradient(circle at center, rgb(0, 15, 24), rgb(0,0,0) 70%)
    --background-light: linear-gradient(117deg, #e4f1ff 41.82%, #ffdff2 60.59%), radial-gradient(circle at center, rgb(255, 255, 255), rgb(240, 240, 240) 70%)

    --background-dark-solid: linear-gradient(117deg, #263545 41.82%, #461d35 60.59%), radial-gradient(circle at center, rgb(0, 15, 24), rgb(0,0,0) 70%)
    --background-light-solid: linear-gradient(117deg, #a2cfff 41.82%, #ffaadd 60.59%), radial-gradient(circle at center, rgb(255, 255, 255), rgb(240, 240, 240) 70%)

    --font-color-light: #000
    --font-color-dark: #fff

    --description-font-color-light: #0000008f
    --description-font-color-dark: #ffffff8f

    // ? Tools > Bookmarks
    --bookmark-light: #ffffff1e
    --bookmark-dark: #1e1e1ea2

    --bookmark-hover-light: #00000016
    --bookmark-hover-dark: #2f2f2faa

    --bookmark-border-light: #0000001e
    --bookmark-border-dark: #333333a5

    // ? Footer Dividers
    --divider-light: 0, 0, 0
    --divider-dark: 255, 255, 255
    --anti-divider-light: 255, 240, 231
    --anti-divider-dark: 0, 15, 24

    --chip-hover-light: #00000020
    --chip-hover-dark: #e3fffd24
        
    // ? Root Variables
    --background: var(--background-light)
    --background-solid: var(--background-light-solid)
    --font-color: var(--font-color-light)
    --description-font-color: var(--description-font-color-light)
    --font-color-anti: var(--font-color-dark)
    --accent-color: #6200ea
    --accent-color-rgb: 98, 0, 234
    --divider: var(--divider-light)
    --anti-divider: var(--anti-divider-light)
    --chip-hover: var(--chip-hover-light)
    --bookmark: var(--bookmark-light)
    --bookmark-hover: var(--bookmark-hover-light)
    --bookmark-border: var(--bookmark-border-light)

@mixin dark-theme-styles
    --background: var(--background-dark)
    --background-solid: var(--background-dark-solid)
    --font-color: var(--font-color-dark)
    --description-font-color: var(--description-font-color-dark)
    --font-color-anti: var(--font-color-light)
    --divider: var(--divider-dark)
    --anti-divider: var(--anti-divider-dark)
    --chip-hover: var(--chip-hover-dark)
    --bookmark: var(--bookmark-dark)
    --bookmark-hover: var(--bookmark-hover-dark)
    --bookmark-border: var(--bookmark-border-dark)
    --accent-color-rgb: 98, 0, 234

// @GlobalStyles

html.dark
    @include dark-theme-styles

@media (prefers-color-scheme: dark)
    html.system
        @include dark-theme-styles

body
    // background: var(--background)
    color: var(--font-color)
    transition: background-color 0.3s ease, color 0.3s ease
    overflow: hidden
    overflow-y: auto
    width: 100vw
    height: max-content
    gap: 1rem

    &::-webkit-scrollbar
        width: 0px

    &::-webkit-scrollbar-track
        background: rgba(255, 255, 255, 0.1)
        border-radius: 10px
        transition: background-color 0.3s ease

    &::-webkit-scrollbar-thumb
        background: #7a4d84
        border-radius: 10px
        transition: background 0.3s ease

    &::-webkit-scrollbar-thumb:hover
        background: #9b61a6

    body::-webkit-scrollbar
        display: none

body:has(::-webkit-scrollbar)
    &::-webkit-scrollbar
        display: block
        width: 12px

// @CustomUtilities
.Hide
    display: none
    position: relative

.HideScrollbars

    &::-webkit-scrollbar
        width: 0px
        height: 0px

.Page
    width: 100vw
    height: 100vh

.CENTER
    display: flex
    justify-content: center
    align-items: center

// @ Components
.SVGComponent
    svg
        height: 100%
        width: 100%

@layer utilities
    .text-balance
        text-wrap: balance

// ? Responsive Querys

// ? Mobile
@media (max-width: 600px)
    body
        font-size: 0.8rem

    .Container
        padding: 1rem
        margin: 0.5rem
        max-width: 20rem

    .footer
        font-size: 0.6rem

// ? Tablet
@media (min-width: 601px) and (max-width: 1024px)
    body
        font-size: 1rem

    .Container
        padding: 1.5rem
        margin: 1rem
        max-width: 25rem

    .footer
        font-size: 0.8rem
