.Header
    width: auto
    position: fixed
    top: 0.1rem
    left: 0
    right: 0
    padding: 1rem
    display: flex
    justify-content: center
    align-items: center
    font-size: 0.8rem
    user-select: none

    .Warp
        z-index: 1
        background: rgba(88, 88, 88, 0.35)
        border: 1px solid rgba(125, 125, 125, 0.25)
        // box-shadow: 0px 2px 3px 0px rgba(4, 1, 1, 0.25)
        backdrop-filter: blur(2px)
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        gap: 1rem
        border-radius: 20px
        padding: 0.5rem 1rem
        .Brand
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
            width: 100%
            .Icon
                width: 2.5rem
                height: 2.5rem
                margin-right: 0.5rem
                img
                    width: 100%
                    height: 100%
                    border-radius: 50%
        .QuickLinks
            width: 100%
            display: flex
            flex-direction: row
            justify-content: space-around
            align-items: center
            gap: 1rem
            .SimpleLink
                position: relative
