$icon-size: 64px
$grid-gap: 10px
$card-padding: 10px
$card-bg-color: #1e1e1ebd
$card-border-radius: 8px

.Tool
    color: #ffffff
    font-family: 'Roboto', sans-serif
    padding: 20px
    min-height: 100vh

    .title
        text-align: center
        margin-bottom: 20px
        font-size: 2rem

    .search
        width: 100%
        padding: 10px
        border: none
        border-radius: 8px
        background: $card-bg-color
        backdrop-filter: blur(10px)
        position: sticky
        top: 1rem
        color: #ffffff
        font-size: 1rem
        margin-bottom: 20px
        z-index: 1

    .search::placeholder
        color: #757575

    .grid
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))
        gap: $grid-gap

    .item 
        padding: 15px
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column

    .delete
        &:hover
            background: #ff000025

    .bookmark
        margin: 7px
        position: relative
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background-color: $card-bg-color
        text-align: center
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
        border: 1px solid #333
        border-radius: $card-border-radius
        transition: transform 0.2s ease
        cursor: pointer
        word-wrap: no-warp
        user-select: none

        &:hover
            backdrop-filter: blur(10px)
            transform: translateY(-5px)
            border: 3px dashed #6200ea

        &.drag-over
            outline: 2px dashed #6200ea

        .Icon
            display: flex
            justify-content: center
            align-items: center
            padding: $card-padding

            img
                width: $icon-size
                height: $icon-size
        
        .bookmarkTitle
            padding: $card-padding
            margin-top: 8px
            font-size: 1rem
            color: #ffffff
            word-break: break-word

        .link
            color: inherit
            text-decoration: none
