.Editor
    display: flex
    flex-direction: column
    .bookmark
        padding: 10px
        position: relative
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background-color: var(--bookmark)
        text-align: center
        min-width: 100px
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
        border: 1px solid var(--bookmark-border)
        border-radius: 8px
        gap: 10px
        transition: transform 0.2s ease
        cursor: pointer
        word-wrap: no-warp
        user-select: none

        &:hover
            transform: translateY(-5px)
            background: var(--bookmark-hover)
            border: 1px solid var(--chip-hover)

        &.drag-over
            outline: 2px solid #6200ea

        .ServerIcon
            position: absolute
            width: 16px
            height: 16px
            top: 0px
            left: 7px
            color: #808080
            svg
                width: 100%
                height: 100%
        .Top-Left-IN
            position: absolute
            width: 16px
            height: 16px
            top: 0px
            left: 7px
            color: #808080
            svg
                width: 100%
                height: 100%

        .Top-Left-OUT
            position: absolute
            width: 1.3rem
            height: 1.3rem
            top: -14px
            left: -7px
            color: #808080
            svg
                width: 100%
                height: 100%
                
        .ServerIcon
            position: absolute
            width: 16px
            height: 16px
            top: 0px
            left: 7px
            color: #808080
            svg
                width: 100%
                height: 100%

        .AdminIcon
            position: absolute
            width: 16px
            height: 16px
            top: 0px
            right: 7px
            color: #808080
            svg
                width: 100%
                height: 100%

        .Icon
            display: flex
            justify-content: center
            align-items: center
            padding: 10px

            img
                width: 64px
                height: 64px

        .bookmarkTitle
            padding: 10px
            margin-top: 8px
            font-size: 1rem
            color: var(--font-color)
            word-break: break-word

        .link
            color: inherit
            text-decoration: none