/* Normal Mod */
*
{
    margin: 0px;
}
body
{
    overflow-x: hidden;
    overflow-y: auto;
}
.section
{
    position: relative;
    height: 100vh;
    border-bottom: 1px solid blue;
}


/* Navigation Bar  */
.navigationbar
{
    width: 100%;
    position: fixed;
    top: -5px;
    height: 8vh;
    background-color: #0a111b3a;
    border-bottom: none;
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.11);
    z-index: 1;
}
.navigationbar .brand
{
    position: relative;
    top: calc(100% - 53px);
    left: 50px;
    width: 260px;
    height: 45px;
    font-size: 25px;
    gap: 5px;
    font-weight: 600;
}
.navigationbar .brand img
{
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 45px;
    height: 45px;
}
.navigationbar .Links
{
    position: absolute;
    right: calc(100% - 1490px);
    top: calc(100% - 47px);
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 20px;
}
.navigationbar .Links a
{
    text-decoration: none;
    color: white;
}
.navigationbar .Links li
{
    position: relative;
}
.navigationbar .Links li:hover
{
    position: relative;
    color: azure;
}
.navigationbar .Links li .active
{
    position: relative;
    color: rgb(0, 97, 97);
}
/* Sections */
/* Footer */
.footer
{
    height: 50vh;
    background-color: #0e2431;
    border-bottom: none;
}
/* Media Querys */