/* Normal Mod */
*
{
    margin: 0px;
}
:root
{
    --title-color: rgb(255, 255, 255);
    --accent-color: #ffa32b;
    --background-color: #fff;
    --navigationbar-color: #0a111b3a;
    --footer-color: linear-gradient(180deg, #000000 0%, #121113 100%);
}
body
{
    overflow-x: hidden;
    overflow-y: auto;
    background : white;
    height: auto;
}
.section
{
    position: relative;
    left: 0px;
    height: 100%;
    right: 20px;
    border-bottom: 2px solid rgba(0, 0, 255, 0.068);
}
.section a
{
    opacity: 0;
}

/* Navigation Bar  */
.navigationbar
{
    margin-bottom: 5px;
    width: 100%;
    position: fixed;
    height: 8vh;
    background-color: #0a111b3a;
    border-bottom: none;
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.11);
    z-index: 1;
}
.navigationbar .brand
{
    position: relative;
    top: calc(100% - 90%);
    left: 40px;
    width: 260px;
    height: 45px;
    font-size: 25px;
    gap: 5px;
    font-weight: 600;
    color: var(--title-color);
}
.navigationbar .brand img
{
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 45px;
    height: 45px;
}
.navigationbar .Links
{
    position: relative;
    left: calc(100% - 24%);
    top: calc(100% - 151%);
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 20px;
}
.navigationbar .Links a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.navigationbar .Links li
{
    position: relative;
}
.navigationbar .Links li:hover a
{
    transition: 0.5s;
    color: var(--accent-color);
}
.navigationbar .Links li .active
{
    position: relative;
    color: var(--accent-color);
}
/* Sections */
.first
{
    position: relative;
    width: 1440px;
    height: 717px;
    left: 0px;
    top: 0px;
}
.first .personimg .person
{
    position: absolute;
    width: 540px;
    height: 540px;
    right: calc(100% - 102%);
    top: calc(100% - 81%);
}
.first .personimg .svg2
{
    position: relative;
    width: 496px;
    height: 496px;
    right: calc(100% - 152%);
    top: calc(100% - 81%);
    mix-blend-mode: normal;
    border-radius: 50%;
    opacity: 0.16;
    border: 2px solid #828282;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: blue;
}
.first .personimg .svg1
{
    position: relative;
    width: 245px;
    height: 179.46px;
    right: 515px;
    top: 477px;
    background-color: red;
}
/* Footer */
.footer
{
    position: relative;
    left: -20px;
    width: calc(100% + 40px);
    height: 60vh;
    background-image: var(--footer-color);
    border-bottom: none;
}
/* Media Querys
Media Query 