.Home
    width: 100vw
    height: 100vh
    display: flex
    flex-direction: column
    .Navigation
        position: sticky
        background: red
        display: flex
        align-items: center
        flex-direction: row
        top: 0
        width: 100vw
        height: 64px
    .Footer
        position: fixed
        background: blue
        display: flex
        align-items: center
        flex-direction: row
        bottom: 0
        width: 100vw
        padding: 1rem