.Home
    width: 100vw
    height: 100vh
    display: flex
    flex-direction: column
    background: linear-gradient(117deg, #1B242D -2.82%, #361B2B 103.59%)
    .Navigation
        position: sticky
        display: flex
        align-items: center
        flex-direction: row
        top: 0
        width: 100vw
        height: 64px
    .Footer
        position: fixed
        display: flex
        align-items: center
        flex-direction: row
        bottom: 0
        width: 100vw
        padding: 1rem
