.Home
    width: 100vw
    height: 100vh
    display: flex
    .Navigation
        position: sticky
        background: red
        display: flex
        align-items: center
        flex-direction: row
        top: 0
        width: 100vw
        height: 64px
